[submodule "themes/blackburn"]
	path = themes/blackburn
	url = https://github.com/yoshiharuyamashita/blackburn.git
[submodule "themes/hugo-material-docs"]
	path = themes/hugo-material-docs
	url = git@github.com:digitalcraftsman/hugo-material-docs.git
[submodule "themes/hugo-theme-bleak"]
	path = themes/hugo-theme-bleak
	url = git@github.com:Zenithar/hugo-theme-bleak.git
