/* nav links */
.nav-links {
  display: table-cell;
  vertical-align: top;
  width: 1%;
  font-size: 16px;
  padding: 14px 0 12px 12px;
  color: #666;
}

/* fix logo padding */
@media only screen and (min-width: 720px) {
  .header .stretch .title {
    padding: 0;
  }
}

/* less green */
.palette-primary-green .header {
  background: #f6f6f6
}

@media only screen and (min-width: 960px)
.backdrop {
    background: #f6f6f6;
}

.palette-primary-green .footer {
    background: #404040;
}
